extends layout
block content
 h1= title
 - let umbrellaid = toShow._id
 - let colour = toShow.colour
 - let umbrellaprice = toShow.price
 - let umbrellaheight = toShow.height

 div.row(class='mb-2')
  div.mr-1 ID is
  div #{umbrellaid}
 - let actionid = "/resource/resource/umbrellas/" + umbrellaid
 form(id='umbrellaForm', action= actionid, method="PUT")
   div.form-group
     label.umbrellaAttr(for='colour') umbrella type
     input#colour(type='text', name='colour', value= colour )
   div.form-group
     label.umbrellaAttr(for='height') umbrella height
     input#height(type='text', name='height', value= umbrellaheight )
   div.form-group
     label.umbrellaAttr(for='price') umbrella price
     input#price(type='number', name='price', value= umbrellaprice )
     input(type="submit")
 script.
  document.forms['umbrellaForm'].addEventListener('submit', (event) => {
   event.preventDefault();
   // TODO do something here to show user that form is being submitted
   fetch(event.target.action, {
   method: 'PUT',
   body: new URLSearchParams(new FormData(event.target)) // event.target is the form
   }).then((resp) => {
   return resp.json(); // or resp.text() or whatever the server sends
   }).then((body) => {
   alert("Update succeded")
   // TODO handle body
   }).catch((error) => {
   // TODO handle error
   alert("Update failed " + error )
   });
  });
