body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.umbrellaAttr {
  table-layout: fixed;
  background-color: rgb(59, 252, 75);
  color: red;
  width: 120px;
  font-family: Arial, Helvetica, sans-serif;
 }
 .lol {
   display: table;
   width: auto;
   color: blue;

 }